@import '../../scss/multi.scss';
@import '../../scss/color.scss';
@import '../../scss/px.scss';

.menuComponentWrapper {
  box-sizing: border-box;
  width: $menu-width;
  height: 100vh;
  position: fixed;
  left: 0; top: 0;
  z-index: 2;
  color: $menu-font-color;
  .blogTitle {
    font-size: 19px;
    height: $top-bar-height;
    line-height: $top-bar-height;
    border-bottom: $topbar-borderbottom;
    padding-left: 15px;
  }
  .newBtn {
    margin: 15px;
    height: 40px;
    border-radius: 2px;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  .addIcon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  .linkWrapper {
    padding: 5px 15px;
    .linkItem {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      box-sizing: border-box;
      height: 50px;
      padding: 0 15px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 14px;
      color: rgba(0, 0, 0, .8);
      text-decoration: none;
      outline: none;
      &:hover, &:active, &:visited {
        color: rgba(0, 0, 0, .8);
      }
      .linkImg {
        width: 12px;
        height: 13px;
        margin-right: 10px;
      }
    }
    .activeLink, .linkItem:hover {
      background: #f0f0f0;
    }
  }
}