@import '../../scss/px.scss';
@import '../../scss/multi.scss';

.topbarComponentWrapper {
  background: #fff;
  height: $top-bar-height;
  padding: 0 $gap-between-menu-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #707070;
  font-weight: 600;
}