.allScreen {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: #fff;
  z-index: 9999;
}
.rich {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
}