.messageComponentWrapper {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  .contentWrapper {
    position: relative;
    top: 0; left: 0;
    z-index: 11;
    text-align: center;
    background: #fff;
    padding: 5px 14px;
    font-size: 15px;
    line-height: 13px;
    color: rgba(0, 0, 0, .6);
    box-shadow: 0 9px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}