.selectComponentWrapper {
  position: relative;
  box-sizing: border-box;
  padding: 5px 3px;
  border-bottom: 1px solid #d9d9d9;
  background: #fff;
  .valueDiv {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
  }
  .pl {
    color: #8d8d8d;
  }
  .optionWrapper {
    position: absolute;
    left: 0; right: 0;
    z-index: 100;
    background: #fff;
    .flexItemWrapper {
      display: flex;
      flex-direction: column;
      box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.12), 0px 9px 28px 0px rgba(0, 0, 0, 0.08), 0px 12px 48px 16px rgba(0, 0, 0, 0.05);
      .optionItem {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(0, 0, 0, 0.78);
        padding-left: 3px;
        cursor: pointer;
        &:hover {
          background: #eee;
        }
      }
    }
  }
}