@import './px.scss';
@import './multi.scss';

* {
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100vh;
  background: #f7f7f8;
}
.paddinglr15 {
  padding-left: 15px;
  padding-right: 15px;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexcc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexg {
  flex-grow: 1;
}
.appRightContainer {
  min-height: 100vh;
  margin-left: $menu-width;
  .appRightContentWrapper {
    background: #fff;
    margin: 20px 20px;
    min-height: calc(100vh - #{$top-bar-height} - 40px);
    border: 1px solid #f0f0f0;
    border-radius: 4px;
  }
}