@import './px.scss';

* {
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100vh;
  background: #f7f7f8;
}
.paddinglr15 {
  padding-left: 15px;
  padding-right: 15px;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexg {
  flex-grow: 1;
}
.appRightContainer {
  min-height: 100vh;
  margin-left: $menu-width;
}